
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*/bin/*
testbin/*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go module mode: the vendor directory is not used.
/vendor/

# editor and IDE paraphernalia
.idea
*.sw[a-z]
*~

bin
main
coverage.data
artifacts
.DS_Store

migrate-chart-value
gen-crd-api-reference-docs-master/
*.tgz

temp/
cmd/cmd

CLAUDE.md
.claude/
